@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./themes.css);

*:focus-visible {
  @apply rounded-md outline-none outline-offset-2 outline-cyan-400;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth !important;
  @apply scroll-p-5;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
